<div class="row">
  <div class='nested-fields'>

	<div class="row">
		<div class="input-field col s12">
        	<%= f.input :schedule,as: :time,html5: true %>

      	</div>
    </div>

	<div class="row">
		<div class="input-field col s12">
        	<%= f.input :description,as: :text ,class: 'materialize-textarea'%>

      	</div>
    </div>

	<div class="row">
		<div class="input-field col s12">
        	<%= f.input :meal,as: :string%>

      	</div>
    </div>

	  <div class="row">
	    <%= link_to_remove_association "remove diet field", f ,class: 'waves-effect waves-light btn'%>
	  </div>
</div>
</div>